@font-face {
    font-family: 'Montserrat';
    /*a name to be used later*/
    src: url('./Assets/fonts/Montserrat-Regular.ttf');
    /*URL to font*/
}

header {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 50px 0px;
}

.inicio {
    background: linear-gradient(to right,
            #A29BFE 31%,
            #2C2C54 32% 66%,
            #A29BFE 71%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.about-me {
    background: linear-gradient(to right,
            #A29BFE 15%,
            #2C2C54 16% 82%,
            #A29BFE 83%);
}

.libro-principal {
    background: #2C2C54;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.contenido {
    margin-bottom: 60px;
}

.contenido>a>h1 {
    color: #E8E8F1;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    -webkit-box-reflect: below -12px linear-gradient(to bottom, transparent 25%, rgba(255, 255, 255, 0.5) 80%);
    letter-spacing: 0.4em;
}

.contenido>a,
nav a {
    text-decoration: none;
    color: #E8E8F1;
}

nav a:hover {
    color: #A29BFE;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 23px;
}

/* Para inicio */
#content {
    display: flex;
    justify-content: center;
}

#content.inicio {
    color: #E8E8F1;
    background: #4E4E7E;
    padding: 20px 0;
}

#home {
    width: 100%;
    max-width: 980px;
    box-sizing: border-box;
    padding-bottom: -200px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero img {
    margin-bottom: 35px;
    width: 100%;
    max-width: 980px;
}

#portada-libros {
    padding: 0px 20px;
}

#portada-libros h3 {
    font-size: 20px;
    padding: 1px;
    /* Evita colapso de márgenes */
}

hr {
    border: 1px solid #E8E8F1;
    margin-bottom: 25px;
}

.portada img {
    width: 190px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.rotador-portadas li {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
}

.titulo,
.compra {
    color: #E8E8F1;
    text-decoration: none;
}

.titulo {
    font-size: 16px;
    padding: 7px 40PX;
    color: #2C2C54;
    background: #FFDF00;
    border-radius: 4px;
    border: 1px solid #E8E8F1;
}

.main-container {
    margin-bottom: 80px;
}

/* Para about me */
#content.about-me {
    align-items: flex-start;
    padding: 50px 0px 200px;
}

.about-me-container {
    margin: 0px 20px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.image-container {
    flex: 3;
}

.text-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    color: #E8E8F1;
    font-size: 23px;
}

.image-container img {
    width: 100%;
}

/* Libros */

.libro-principal {
    /* position: relative; */
    width: 100%;
    height: 100%;
}

.libro-principal-container {
    position: relative;
    /* height: 1000px; */
    max-width: 1440px;
    width: 100%;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Se coloca detrás de todo el contenido */
    display: flex;
    flex-direction: column;
}

.background img {
    width: 100%;
    height: auto;
    /* Mantiene proporción de la imagen */
    filter: brightness(30%);
}

.background .gradient {
    flex: 1;
    background-color: #2C2C54;
}

.informacion {
    position: relative;
    z-index: 1;
    padding: 25% 0 40px 6%;
}

.informacion-principal {
    padding: 0px 2%;
    margin-bottom: 30px;
}

.informacion-principal>h2 {
    color: #A29BFE;
    font-size: 20px;
    margin-bottom: 15px;
}

.informacion-principal>h1 {
    font-size: 30px;
    color: #E8E8F1;
    font-weight: bold;
}

.informacion-container {
    color: #E8E8F1;
    display: flex;
    gap: 20px;
}

.accion {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portada-libro {
    background-color: #2C2C54;
    padding: 0px 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.portada-libro>img {
    width: 100%;
    max-width: 350px;
}

.accion a {
    color: #2C2C54;
    padding: 12px 20px;
    text-decoration: none;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFDF00;
    border-radius: 10px;
    width: 88%;
}

.accion>a>img {
    height: 20px;
}

.descripcion {
    flex: 5;
    padding-top: 40px;
}

.descripcion>h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.descripcion>h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.descripcion>p {
    line-height: 1.4;
    font-size: 17px;
    margin-bottom: 15px;
}

.descripcion > button {
    width: 99%;
    text-align: start;
    padding: 15px 25px;
    background-color: #E8E8F1;
    border: none;
    border-radius: 6px;
    color: #2C2C54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}



/* Footer */

#footer-web {
    background: #A29BFE;
    color: #E8E8F1;
    position: relative;
    z-index: 10;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.footer-container {
    font-size: 20px;
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
}

.footer-container hr {
    width: 100%;
}

#footer-web #redes {
    display: flex;
    gap: 20px;
    align-items: center;
    /* border-bottom: 1px solid #E8E8F1; */
    padding: 20px;
}

#footer-web a {
    color: #E8E8F1;
    text-decoration: none;
}

#footer-web hr {
    border: 1px solid #E8E8F1;
}

.icon {
    height: 30px;
}

@media (max-width: 1399px) {
    header.inicio {
        background: linear-gradient(to right,
                #A29BFE 26%,
                #2C2C54 27% 71%,
                #A29BFE 76%);
    }
}

@media (max-width: 1199px) {
    header.inicio {
        background: linear-gradient(to right,
                #A29BFE 10%,
                #2C2C54 11% 87%,
                #A29BFE 92%);
    }

    .hero h2 {
        margin: 20px 0px 40px;
    }

    #home hr {
        margin-bottom: 40px;
    }

    .rotador-portadas li {
        gap: 17px;
    }

    .footer-container {
        padding: 30px 0px;
    }

    #content.about-me {
        padding: 100px 0px 200px;
    }

    .descripcion {
        padding-top: 15px;
    }

    .descripcion>h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .descripcion>h3 {
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    .descripcion>p {
        line-height: 1.3;
        font-size: 16.5px;
    }

    .descripcion > button {
        padding: 10px 20px;
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .about-me-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .about-me-container>div {
        flex: auto;
    }

    .descripcion {
        padding-top: 0px;
    }

    .descripcion>h2 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    .descripcion>h3 {
        font-size: 18px;
        margin-bottom: 6px;
        font-weight: bold;
    }
    
    .descripcion>p {
        line-height: 1.3;
        font-size: 16.5px;
    }

    .descripcion > button {
        padding: 8px 15px;
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .contenido>a>h1 {
        font-size: 35px;
        letter-spacing: 0.2em;
    }

    .hero h1 {
        font-size: 17px;
    }

    nav ul li {
        font-size: 20px;
    }

    #portada-libros h2 {
        font-size: 18px;
    }

    .portada img {
        width: 150px;
    }

    .rotador-portadas li {
        width: 150px;
    }

    .informacion {
        padding: 25% 6% 40px 6%;
    }

    .informacion-container {
        flex-direction: column;
    }

    .descripcion {
        padding: 10px;
    }
}